* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.ease-in-out {
    transition: all ease-in-out .3s;
}

.opacity-on-hover:hover {
    opacity: .5;
}

.text-yellow {
    color: #fab710;
}

.list-type-none {
    list-style-type: none;
}

.corner-left {
    border-radius: 15px 0px 0px 15px;
}

.corner-mid {
    border-radius: 15px;
}

.corner-right {
    border-radius: 0px 15px 15px 0px;
}

/*

Color Palette

    dark - #313332
    yellow - #fab710
    light - #fdfffe

*/

/* Header */
.btn-yellow {
    background-color: #fab710;
    color: #fdfffe;

}

.btn-yellow:hover {
    background-color: #ba8603;
}

.logo-container a img {
    padding: 0;
    margin: 0;
    width: 4rem;
    filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    transition: all ease-in-out .3s;
}

.logo-container a img:hover {
    filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

.header-container {
    background-color: #313332;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    padding: .75rem;
    align-items: center;
}

/* Footer */
.footer-container {
    position: relative;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}

/* Footer copyright */
.copyright {
    text-align: center;
}

/* Sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* Sidenav links */
.sidenav a {
    text-align: center;
    margin-top: 1.5rem;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #040D21;
    display: block;
    transition: 0.3s
}

.sidenav a span i {
    margin-right: 1rem;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #fab710;
}

/* Sidenav turn off button */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav {
    right: 0;
}

/* Sidenav turn on button */
.openNav {
    display: flex;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    font-size: 24px;
    padding: 0 .5rem;
    color: #f1f1f1;
}

/* Index Page - Content */
.content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 1rem;
    width: 80%;
}

/* Index Page - Content/rent a car button */
.rent-btn {
    background-color: #fab710;

    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 10rem;
    font-size: 2.5em;

    padding-top: .4em;

    border-radius: 75px;
}

.rent-btn:hover {
    background-color: #ba8603;
    border-color: #f1f1f1;
}

.rent-btn p {
    font-size: .3em;
}

.rent-btn-background {
    width: 100%;
    background: url("../assets/images/rent-btn-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* Verification Page */
.pin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.pin-input {
    width: 5rem;
    height: 5rem;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    outline: none;
    margin: 1px;
    text-align: center;
    margin: 0 1rem;
    background: #eeeeee;
    font-size: 20px;
}

.pin {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

/* Languages Page */

.language-box-container {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 15%;
}

.language-box {
    margin-top: 3rem;
    padding: 1em;
}

.language-box a {
    text-decoration: none;
    color: #313332;

    transition: all ease-in-out .3s;
}

.language-box a:hover {
    opacity: .3;
}

.language-box img {
    width: 10rem;
    height: 7rem;
    border-radius: 15px;
    border: 1px solid #313332;
}

.language-box h3 {
    text-align: center;
    margin-top: 1rem;
}

/* Rent Page */
.agency-img {
    width: 50%;
    margin-top: -1rem;
    margin-left: .5rem;
    margin-bottom: -1rem;
}

#page-number,
#filter,
#order {
    width: fit-content;
    cursor: pointer;
}

/* Car Details Page */
.back-btn-container {
    width: 88%;
    display: flex;
    justify-content: left;
    margin-top: 3rem;
}

.price-container {
    background-color: #313332;
    color: #ffffff;
    margin: auto;
    width: fit-content;
    border-radius: 5px;

    -webkit-box-shadow: 2px 7px 24px -6px rgba(68, 68, 68, 1);
    -moz-box-shadow: 2px 7px 24px -6px rgba(68, 68, 68, 1);
    box-shadow: 2px 7px 24px -6px rgba(68, 68, 68, 1);

    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.price-container p {
    padding: .5em 2em;
}

.amount {
    font-size: x-large;
}

.details-box {
    background-color: #fab81067;
    -webkit-box-shadow: 8px 8px 24px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -14px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -14px rgba(66, 68, 90, 1);
    padding: 1em 3em;

    color: #313332;
}

.detail-agency-card {
    background-color: #3133321d;
    border-radius: 15px;
}

.detail-agency-img {
    width: 15%;
}

.next-btn-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: right;
}

/* Extras Page */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    margin-bottom: 3rem;
  }
  
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }