* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/*

Color Palette

    dark - #313332
    yellow - #fab710
    light - #fdfffe

*/

/* Header */
.btn-yellow {
    background-color: #fab710;
    color: #fdfffe;

}

.btn-yellow:hover {
    background-color: #ba8603;
}

.logo-container a img {
    padding: 0;
    margin: 0;
    margin-top: -.5rem;
    width: 10rem;
    max-width: 200px;
}

.header-container {
    background-color: #313332;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    padding: 1rem;
}

/* Footer */
.footer-container {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}

/* Footer copyright */
.copyright {
    text-align: center;
}

/* Sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-radius: 15px;
}

/* Sidenav links */
.sidenav a {
    text-align: center;
    margin-top: 1.5rem;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #040D21;
    display: block;
    transition: 0.3s
}

.sidenav a span i {
    margin-right: 1rem;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #fab710;
}

/* Sidenav turn off button */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav {
    right: 0;
}

/* Sidenav turn on button */
.openNav {
    display: flex;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    font-size: 28px;
    padding: 0 .7rem;
    color: #f1f1f1;
}

/* Index Page - Content */
.content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 1rem;
    width: 80%;
}

/* Index Page - Content/rent a car button */
.rent-btn {
    background-color: #fab710;
    border-color: #fdfffe;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 10rem;
    font-size: 2.5em;

    padding-top: .4em;

    border-radius: 75px;
}

.rent-btn:hover {
    background-color: #ba8603;
    border-color: #f1f1f1;
}

.rent-btn p {
    font-size: .3em;
}

/* Verification Page */
.pin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.pin-input {
    width: 5rem;
    height: 5rem;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    outline: none;
    margin: 1px;
    text-align: center;
    margin: 0 1rem;
    background: #eeeeee;
    font-size: 20px;
}

.pin {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}